<% content_for :title, "Lista de editoriales" %>
<div>
  <h1><%= yield :title %></h1>

  <% if @publishers.blank? %>
    <div class="alert alert-warning">No hay editoriales que mostrar</div>
  <% else %>
    <div class="responsive-fake-table expansible-fake-table">
      <header class="row">
        <div class="col col-xs-4 col-sm-4 col-md-4"><%=t('activerecord.attributes.publisher.name')%></div>
        <div class="col hidden-xs col-sm-1 col-md-1"><%=t('activerecord.attributes.publisher.founded_year')%></div>
        <div class="col col-xs-4 col-sm-2 col-md-4"><%=t('activerecord.attributes.publisher.founder')%></div>
        <div class="col col-xs-2 col-sm-4 col-md-2"><%=t('activerecord.attributes.publisher.origin_country')%></div>
        <div class="col col-xs-2 col-sm-1 col-md-1"><span class="hidden-sm hidden-xs">Opciones</span>&nbsp;</div>
      </header>
      <% @publishers.each do |publisher|%>
        <section class="row">
          <div class="col col-xs-4 col-sm-4 col-md-4 toggle"><%=publisher.name %></div>
          <div class="col hidden-xs col-sm-1 col-md-1 toggle"><%=publisher.founded_year%></div>
          <div class="col col-xs-4 col-sm-2 col-md-4 toggle"><%=publisher.founder%></div>
          <div class="col col-xs-2 col-sm-4 col-md-2 toggle"><%=publisher.origin_country%></div>
          <div class="col col-xs-2 col-sm-1 col-md-1">
            <%= link_to content_tag('i','', class: 'fa fa-eye'), publisher, class: 'tooltipable', title: 'Ver' %>
            <%= link_to content_tag('i','', class: 'fa fa-pencil-square-o'), edit_publisher_path(publisher), class: 'tooltipable', title: 'Editar' %>
            <%= link_to content_tag('i','', class: 'fa fa-times'), publisher, method: :delete, data: { confirm: 'Are you sure?' }, class: 'tooltipable', title: 'Eliminar' %>
        
          </div>
        </section>
      <% end %>
    </div>
  <% end %>

  <%= link_to 'Agregar editorial', new_publisher_path, class: 'btn btn-primary' %>
</div>
